
PORT=5000
FRONTEND_URL=http://localhost:3000


DB_HOST=localhost
DB_USER=root
DB_PASSWORD=my@24@sql@windows
DB_NAME=rental_system


JWT_SECRET=9d1808ebbd13dd1f2ddf7bd93b3c2797485ec0891bae888148f5b1267beaf144766df399fc9f1b03e397d7936e92b8af7ea9e27b90a80dbabea8ce11cffe2006

RAZORPAY_KEY_ID=rzp_test_SXqfcCUyN7RZNb
RAZORPAY_KEY_SECRET=5noRPdYeLgmgkkOVDV0yDue6